
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
backend/.idea/
backend/.project
backend/.classpath
backend/.c9/
*.launch
backend/.settings/
*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
frontend/.history/*
frontend/.angular*

frontend/*.iml
backend/*.iml

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#IntelliJ
backend/.idea*
backend/target*
backend/.mvn*
backend/mvn*
backend/HELP.md
backend/.gitattributes