.container {
    min-width: 350px;
    max-width: 500px;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .buttons {
        text-align: right;

        button {
            margin-left: 10px;
        }
    }
}

div .date-fields {
    mat-form-field {
        &:first-child {
            display: inline-flex;
            margin-right: 10px;
        }
    }
}