<div class="container">
    <h1>Crear préstamo</h1>

    <form (keydown.enter)="onSave()">
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                <ng-container *ngFor="let client of registeredClients | async">
                    <mat-option [value]="client">{{client.name}}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <ng-container *ngFor="let game of registeredGames | async">
                    <mat-option [value]="game">{{game.title}}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-label>Fechas de préstamo</mat-label>

        <div class="date-fields">

            <mat-form-field>
                <mat-label>Fecha de préstamo</mat-label>
                <input matInput (dateChange)="onStartDateSet()" [matDatepicker]="startDatePicker" [(ngModel)]="loan.startDate" name="startDate"
                    required [ngClass]="{ 'error-datepicker': dateMaxLengthError }">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error>La fecha de inicio no puede estar vacía</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de devolución</mat-label>
                <input matInput (dateChange)="onEndDateSet()" [matDatepicker]="endDatePicker" [(ngModel)]="loan.endDate" name="endDate"
                    required #endDateRef="ngModel" [ngClass]="{ 'error-datepicker': dateMaxLengthError }">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                    <mat-error *ngIf="!dateMaxLengthError">La fecha de devolución no puede estar vacía</mat-error>
                    <mat-hint *ngIf="dateMaxLengthError" class="error-message">El préstamo no puede ser mayor a 14 días</mat-hint>
            </mat-form-field>

        </div>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>